<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <customErrors mode="Off">
    </customErrors>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="fingerprint">
          <match url="([\S]+)(/v-[0-9]+/)([\S]+)" />
          <action type="Rewrite" url="{R:1}/{R:3}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
