@import 'bootstrap.css';

body {
    position: relative;
    padding-top: 20px;

    .container {
        > header {
            img {
                display: inline;
            }

            h1 {
                padding-top: 20px;
                font-size: 50px;
            }

            .container > header h2 {
                padding-bottom: 20px;
                border-bottom: 1px solid silver;
            }
        }

        > footer {
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }
}

ul.list-group ul {
    // decrease nested ul padding
    padding-left: 20px;
}

ul.list-yoga-tales
{
    font-size:20px;

}

[class|="col"] {
    margin-bottom: 15px;
}



div.img-gallery {

    @caption-height: 40px;
    @img-height: 140px;
    @margin-small: 7px;

    figure {
        margin-bottom: 40px;
        position: relative;
        max-width: 100%;

        &.sold {

            &::after {
                bottom: @caption-height;
                content: 'Sold';
                margin-bottom: @margin-small;
                margin-left: @margin-small;
                position: absolute;
                left: 0;
            }
        }

        img {
            height: @img-height;
        }

        figcaption {
            height: @caption-height;
        }
    }
}

#site-nav {

    ul ul {
        margin-top: 2.5px;

        > li {
            // handle nested navs
            margin-left: 25px;

            &.active {
                a {
                    color: darken(#428BCA, 40%);
                    background-color: lighten(#428BCA, 32%);
                }
            }
        }
    }

    .affix-top,
    .affix,
    .affix-bottom {
        padding-top: 40px;
        display: table;
    }

    .affix {
        top: 0;
    }
}

/*col-md collapse width*/
@media(max-width:992px) {

    #site-nav {
        .affix, .affix-top, .affix-bottom {
            position: static;
            display: none;
        }
    }
}
