<footer class="footer">
    <div class="pull-right">
        <span>&copy; Copyright 2014 @Model.FirstName @Model.LastName</span> |
        <a href="mailto:@Model.Email">@Model.Email</a> |
        <span>Website by </span><a href="http://www.bigfont.ca">BigFont</a>
    </div>
</footer>