<div class="col-md-4">
    <img alt="A black and white zen drawing of a stick figure person surrounded by a fire." class="img-responsive" src="images/energetic-warrior-xs.jpg" />
</div>
<div class="col-md-8">
    <h1>@Model.FirstName @Model.LastName</h1>
    <h1><small>@Model.Credentials</small><h1>
    <h2>@Model.TagLine</h2>
</div>