<section>
    <p>
        <a class="btn btn-info" href="https://www.artiazza.com">
            View additional art in Ingrid's web-gallery under Ingrid Hauss at Artiazza.
        </a>
    </p>
    <p>
        <a class="btn btn-info" href="~/documents/art-and-whispers.pdf">
            View the pieces at the Echoes Art Exhibit and Sale on Bowen Island during the month of April.
        </a>
    </p>
</section>
