<section>
    <div class="page-header">
        <h1 id="retreats">Retreats</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Art &amp; Renewal Retreats introduce an embodied arts-based and prayerful experience.</h4>
            <p>Cultivating physical and creative renewal through conscious kinaesthetic alignment, this practice integrates contemplative movement, relaxation and creative exploration.</p>
        </div>
        <div class="col-md-6">
            <img alt="A zen style drawing of a thin curve with a tiny red ball that appears to be rolling just up one side." class="img-responsive img-rounded img-thumbnail" src="images/meditation-xs.jpg" />
        </div>
        <div class="col-md-6">
            <img alt="Ingrid in front of 1000 year old European church in the valley where she grew up." class="img-responsive img-rounded img-thumbnail" src="images/ingrid-church-xs.jpg" />
        </div>
    </div>
</section>