<section>
    <div class="page-header">
        <h1 id="about">About</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <img class="img-responsive img-thumbnail" src="/images/about-me-log-10x10-xs.jpg" alt="This is a placeholder image.">
            </p>
            <p>
                <b class="lead">Ingrid Hauss</b> is a gifted movement teacher, artist and writer. As the founder and owner of <b>Art & Renewal for Body and Mind</b> she teaches in her private practice, works at several studios, and teaches corporate, academic and international retreats and conferences. Recently, she was honored with a writer's stipend through the <b>Collegeville Institute for Ecumenical and Cultural Research</b> supporting her current writing/art project. She continues to lead integrative art installations in the United States, Europe and Canada. Born and raised in the Black Forest of Germany, she now resides in Vancouver, Canada.
            </p>
            <p>
                Extensively trained at <b>Kripalu Center for Yoga and Health</b>, she is certified with the <b>International Yoga Teacher Alliance</b>. She has continued to nurture her passion for the integration of movement, art and spirituality through advanced studies in various styles of yoga, dance and art with master teachers in the USA and Canada.
            </p>
            <p>
                As a certified pilates-yoga instructor, she offers courses in body rolling facilitating renewal in body and mind through the release of the deeper tissues and release of energy blocks. She has specialized in methods of stress reduction to help calm and revitalize the nervous system. Over the past twenty years, her teaching has become infused with her artistic and poetic expression. As such her practice is enriched by her life-long formation and study in contemplative spirituality.
            <p>
                Rooted in Judeo-Christian writings of the early mystics, ancient desert spirituality and interdisciplinary approaches to mysticism in art and poetry, Ingrid's classes invite the participant into a unique experience of healing and body/mind renewal. Her most recent inspiration in teaching has been to create Yogathedral<sup>&trade;</sup> - a moving meditation practice conducted in sacred, natural spaces.
            </p>
            <figure class="figure-info">
                <img src="~/images/sdiworld.png" alt="Emergin Wisdom: San Diego, California, USA. 7-10 April 2016. Spiritual Directors International." />
                <figcaption>
                    <p>Ingrid is excited to present her Interactive Art Installation titled <cite>Body, Art and Sacred Poetry: A Contemplative Movement Experience</cite> at <b>Spiritual Directors International Conference</b> <cite>Emerging Wisdom 2016</cite> this upcoming spring!</p>
                    <a href="http://www.sdiworld.org/educational-event/2016-emerging-wisdom-educational-events">Spiritual Directors International ~ Emerging Wisdom</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Clients</h3>
                </div>
                <div class="panel-body">
                    A partial list of the business and organizations that have benefitted from Ingrid's teaching practice include:
                </div>
                <ul class="list-group list-group-compress-vertical list-group-striped">
                    <li class="list-group-item">Curtis Personalized Health, Lulu Lemon Head Offices, Vancouver</li>
                    <li class="list-group-item">St Philip Anglican Church, Victoria</li>
                    <li class="list-group-item">Verathon Medical, Burnaby</li>
                    <li class="list-group-item">Fit in 30, Vancouver</li>
                    <li class="list-group-item">Mennonite Association, Canada</li>
                    <li class="list-group-item">University of British Columbia Center for Disease Control</li>
                    <li class="list-group-item">Cancer Center, Vancouver</li>
                    <li class="list-group-item">Association of Adoptive Parents of Children with Fetal Alcohol Syndrome, Vancouver</li>
                    <li class="list-group-item">Emory University, Candler School of Theology, Atlanta</li>
                    <li class="list-group-item">San Francisco Theological Seminary, USA</li>
                    <li class="list-group-item">Episcopal Church, USA</li>
                    <li class="list-group-item">York House School, Vancouver</li>
                    <li class="list-group-item">Fraser Academy, Vancouver</li>
                    <li class="list-group-item">Point Grey Academy, Vancouver</li>
                    <li class="list-group-item">Basel Lodge &amp; Ateliers, Switzerland</li>
                    <li class="list-group-item">Ben Franklin Academy, Atlanta GA</li>
                    <li class="list-group-item">Collegeville Institute for Ecumenical &amp; Cultural Research, Minnesota, USA</li>
                    <li class="list-group-item">Sitka Physiotherapy and Wellness, Fairmont Hotel Vancouver</li>
                    <li class="list-group-item">Youth Hostels Association, Vancouver</li>
                    <li class="list-group-item">Pacific Jubilee Training Program for Spiritual Directors, Canada</li>
                    <li class="list-group-item">Sonoma State University, Psychology Department, California</li>
                    <li class="list-group-item">St. Andrew's United, North Vancouver</li>
                    <li class="list-group-item">Salt Spring Center of Yoga</li>
                    <li class="list-group-item">North End Fitness, Ganges, Salt Spring Island</li>
                    <li class="list-group-item">University of British Columbia, Medical Alumni Association</li>
                    <li class="list-group-item">Open Hand Studios for Yoga &amp; the Arts, Sebastopol, California</li>
                    <li class="list-group-item">Stress Management Center of Marin County, Larkspur, CA</li>
                    <li class="list-group-item">Semperviva Yoga, and Open Door Yoga Studios, Vancouver, BC</li>
                </ul>
            </div>
        </div>
    </div>
</section>