<section>
    <h2 id="retreats">Retreats</h2>
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <img alt="A painting of trees in the wind on the beach." class="img-responsive img-rounded img-thumbnail" src="images/island-reverie-xs.jpg" />
        </div>
        <div class="col-md-6 col-md-pull-6">
            <ul class="list-group">
                <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                    <h4 itemprop="name">Body Prayer Retreat</h4>
                    <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                        <a itemprop="url" href="www.stphilipvictoria.ca">
                            St Philip Anglican Church
                        </a>
                        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">2928 Eastdowne Road</span><br />
                            <span itemprop="addressLocality">Victoria</span>, <span itemprop="addressRegion">BC</span><br />
                            <span itemprop="addressCountry">Canada</span><br />
                        </address>
                    </div>
                    <ul class="list-unstyled">
                        <li itemprop="startDate" content="2014-09-20">Saturday, September 20, 2014, 4-6PM</li>
                        <li itemprop="startDate" content="2014-10-18">Saturday, October 18, 2014, 4-6PM</li>
                    </ul>
                    <p itemprop="offers">To Register Contact: office@stphilipvictoria.ca or call Gillian Fosdick at 250-592-6823</p>
                    <p itemprop="description">Body Prayer is a retreat for people who are seeking to deepen the contemplative dimension of their spiritual life through the practice of yoga and meditation. Gentle yoga stretching, yoga poses and breathing exercises are introduced as a path for relaxation, rejuvenation and stress reduction.</p>
                </li>
                <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                    <h4>
                        <span itemprop="name">Yoga In-Fusion &trade;</span>
                    </h4>
                    <p itemprop="location">Salt Spring Island, BC</p>
                    <p itemprop="startDate" content="2014-08-22">August 22-24, 2014</p>
                    <p itemprop="offers">$115 ($50 deposit to reserve)</p>
                    <p itemprop="offers">Contact Ingrid to book.</p>
                    <p itemprop="description">Music by Willy Miles-Grenzberg. Yoga instruction by Ingrid Hauss.</p>
                </li>
            </ul>
        </div>
    </div>
</section>