<section>
    <div class="page-header">
        <h1 id="news">News</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Weekly Series: Body Prayer</h4>
                    <p title="When?">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <span>2019</span>
                    </p>
                    <p title="Where?">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <span>Saint Helen's Anglican Church, Vancouver, B.C.</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <h4>Body Prayer: An Embodied Spiritual Practice</h4>
                    <p title="When?">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <span>June 8, 2019</span>
                    </p>
                    <p title="Where?">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <span>Saint Paul's Episcopal Church, Port Townsend, USA</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <h4>Towards a Place of Renewal and Belonging: Art, Movement, and Community</h4>
                    <p title="When?">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 
                        <span>July 2019</span>
                    </p>
                    <p title="Where?">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <span>Presentation at the 2019 International Society for Education through Art (InSEA) Global Congress</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <h4>Ingrid's art represented now by:</h4>
                    <img alt="Catching Stars Gallery, Bowen Island" class="img-responsive img-thumbnail" src="images/catching-stars-gallery.jpg">
                </li>
            </ul>
        </div>
    </div>
</section>