<section>
    <div class="page-header">
        <h1 id="classes">Classes</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4><a href="http://opendooryoga.bc.ca/">Open Door Yoga</a> <small>Kerrisdale</small></h4>
            <dl>
                <dt>Fridays</dt>
                <dd>4 PM YIN</dd>
                <dt>Saturdays</dt>
                <dd>8:30 AM HATHA</dd>
                <dd>10:15 AM HATHA</dd>
                <dt>Sundays</dt>
                <dd>4:15 PM HATHA</dd>
            </dl>
            <h4><a href="http://opendooryoga.bc.ca/">Open Door Yoga</a> <small>Commercial Drive</small></h4>
            <dl>
                <dt>Fridays</dt>
                <dd>9 AM HATHA</dd>
            </dl>   
        </div>
        <div class="col-md-6">
            <img alt="A zen style drawing of a thin curve with a tiny red ball that appears to be rolling just up one side." class="img-responsive img-rounded img-thumbnail" src="images/meditation-xs.jpg" />
        </div>
    </div>
</section>
