<section>
    <div class="page-header">
        <h1 id="retreats">Retreats</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Art &amp; Renewal Retreats introduce an embodied arts-based and prayerful experience.</h4>
            <p>Cultivating physical and creative renewal through conscious kinaesthetic alignment, this practice integrates contemplative movement, relaxation and creative exploration.</p>
        </div>
        <div class="col-md-6">
            <img alt="A zen style drawing of a thin curve with a tiny red ball that appears to be rolling just up one side." class="img-responsive img-rounded img-thumbnail" src="images/meditation-xs.jpg" />
        </div>
        <div class="col-md-6">
            <img alt="Ingrid in front of 1000 year old European church in the valley where she grew up." class="img-responsive img-rounded img-thumbnail" src="images/ingrid-church-xs.jpg" />
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">News</div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>Weekly Series: Body Prayer</h4>
                        <p>
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span>2019</span>
                        </p>
                        <p>Saint Helen's Anglican Church, Vancouver, B.C.</p>
                    </li>
                    <li class="list-group-item">
                        <h4>Body Prayer: An Embodied Spiritual Practice</h4>
                        <p>
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span>June 8, 2019</span>
                        </p>
                        <p>Saint Paul's Episcopal Church, Port Townsend, USA </p>
                    </li>
                    <li class="list-group-item">
                        <h4>Towards a Place of Renewal and Belonging: Art, Movement, and Community</h4>
                        <p>
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 
                            <span>July 2019</span>
                        </p>
                        <p>Presentation at the 2019 International Society for Education through Art (InSEA) Global Congress</p>
                    </li>
                    <li class="list-group-item">
                        <h4>Ingrid's art represented now by:</h4>
                        <img alt="Catching Stars Gallery, Bowen Island" class="img-responsive img-thumbnail" src="images/catching-stars-gallery.jpg">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>