<section>
    <div class="page-header">
        <h1 id="about">About</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">

            <p>Ingrid Hauss is an artist, teacher, poet and the founder of Art and Renewal. She tours widely with her art and interactive installations, combining art, movement and her prose as an integrative embodied practice fostering wellness and creative living. Ingrid teaches at schools, conferences, studios, universities and retreat centres in Canada, the USA and Europe.</p>

            <p>Born and raised in the Black Forest region of Germany, she now resides on Bowen Island in British Columbia, where she listens to the quiet voice within to find guidance for painting and writing. Ingrid Hauss has been in the performing and visual arts all her life. Influenced by the artists of the Bauhaus Era and Marc Chagall, she lives with colour as her vibrant tool of expressive story-telling on canvas and in live. Ingrid experiences and shares her artistic practice as a living invitation for transformation and liberation of the creative spirit.</p>

            <p>Her bold, interdisciplinary choreographies of brush and spirit allow the body to flow, heal and realign in an experience of inward and outward renewal. Her art has been shown in Switzerland, Germany, the United States and the Bowen Island Arts Council Gallery. It can be viewed on the Swiss platform of <a href='artiazza.com/artist/ingrid_hauss_1'>Artiazza.com</a>.  There she has been named Artist of the Month in December 2017 and can be viewed in her art practice sketching along the wild shores of Vancouver Island in British Columbia, Canada on the following <a href='https://www.youtube.com/watch?v=Y-aDP6Ybj-I'>YouTube link</a>.</p>

            <p>Her most recent article integrating her art and prose was published in Presence: International Journal for Spiritual Direction, Issue December 2017. Her current interdisciplinary art installation will be unveiled at the Global Congress for Art Education 2019 at the University of British Columbia, Vancouver this summer. She is currently in the process of completing her Masters in Art Education at the University of Victoria.  Ingrid is an artist-associate at Catching Stars Gallery, where selected art pieces by her are now available as part of the gallery collection. For more information on her work go to <a href='artiazza.com/artist/ingrid_hauss_1'>her gallery at Artiazza</a> or her Art & Renewal Website at Ingridhauss.com.</p> 

            <figure class="figure-info">
                <img src="~/images/sdiworld.png" alt="Emergin Wisdom: San Diego, California, USA. 7-10 April 2016. Spiritual Directors International." />
                <figcaption>
                    <p>Ingrid is excited to present her Interactive Art Installation titled <cite>Body, Art and Sacred Poetry: A Contemplative Movement Experience</cite> at <b>Spiritual Directors International Conference</b> <cite>Emerging Wisdom 2016</cite> this upcoming spring!</p>
                    <a href="http://www.sdiworld.org/educational-event/2016-emerging-wisdom-educational-events">Spiritual Directors International ~ Emerging Wisdom</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Clients</h3>
                </div>
                <div class="panel-body">
                    A partial list of the business and organizations that have benefitted from Ingrid's teaching practice include:
                </div>
                <ul class="list-group list-group-compress-vertical list-group-striped">
                    <li class="list-group-item">Curtis Personalized Health, Lulu Lemon Head Offices, Vancouver</li>
                    <li class="list-group-item">St Philip Anglican Church, Victoria</li>
                    <li class="list-group-item">Verathon Medical, Burnaby</li>
                    <li class="list-group-item">Fit in 30, Vancouver</li>
                    <li class="list-group-item">Mennonite Association, Canada</li>
                    <li class="list-group-item">University of British Columbia Center for Disease Control</li>
                    <li class="list-group-item">Cancer Center, Vancouver</li>
                    <li class="list-group-item">Association of Adoptive Parents of Children with Fetal Alcohol Syndrome, Vancouver</li>
                    <li class="list-group-item">Emory University, Candler School of Theology, Atlanta</li>
                    <li class="list-group-item">San Francisco Theological Seminary, USA</li>
                    <li class="list-group-item">Episcopal Church, USA</li>
                    <li class="list-group-item">York House School, Vancouver</li>
                    <li class="list-group-item">Fraser Academy, Vancouver</li>
                    <li class="list-group-item">Point Grey Academy, Vancouver</li>
                    <li class="list-group-item">Basel Lodge &amp; Ateliers, Switzerland</li>
                    <li class="list-group-item">Ben Franklin Academy, Atlanta GA</li>
                    <li class="list-group-item">Collegeville Institute for Ecumenical &amp; Cultural Research, Minnesota, USA</li>
                    <li class="list-group-item">Sitka Physiotherapy and Wellness, Fairmont Hotel Vancouver</li>
                    <li class="list-group-item">Youth Hostels Association, Vancouver</li>
                    <li class="list-group-item">Pacific Jubilee Training Program for Spiritual Directors, Canada</li>
                    <li class="list-group-item">Sonoma State University, Psychology Department, California</li>
                    <li class="list-group-item">St. Andrew's United, North Vancouver</li>
                    <li class="list-group-item">Salt Spring Center of Yoga</li>
                    <li class="list-group-item">North End Fitness, Ganges, Salt Spring Island</li>
                    <li class="list-group-item">University of British Columbia, Medical Alumni Association</li>
                    <li class="list-group-item">Open Hand Studios for Yoga &amp; the Arts, Sebastopol, California</li>
                    <li class="list-group-item">Stress Management Center of Marin County, Larkspur, CA</li>
                </ul>
            </div>
        </div>
    </div>
</section>