<section>
    <p>
        <a class="btn btn-info" href="https://www.artiazza.com">
            View additional art in Ingrid's web-gallery under Ingrid Hauss at Artiazza.
        </a>
    </p>
    <p>
        <a class="btn btn-info" href="~/documents/art-and-whispers.pdf">
            Please click to see the invitation to my art opening this Saturday, yey!
        </a>
    </p>
</section>
