
<section>
    <h2 id="yogathedral">Yogathedral<sup>&trade;</sup> Walks</h2>

    <div class="panel panel-primary panel-large">
        <div class="panel-heading">
            Next Yogathedral for 2016
        </div>
        <div class="panel-body">
            <ul>
                <li>Saturday May 14, 2016</li>
                <li>3-5 pm</li>
                <li>Bowen Island</li>
                <li>For more details see description below.</li>
            </ul>
        </div>
        <div class="panel-footer">
            Call Ingrid Hauss or send registration and payment of $25 to address below to book your spot.
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Yogathedral<sup>&trade;</sup> Dates for Fall 2015
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        <h4>
                            Where?
                        </h4>
                        <p>Bowen Island, B.C.</p>
                        <p>Meet at Snug Cove Ferry Terminal</p>
                    </div>
                    <div class="col-md-4">
                        <h4>
                            When?
                        </h4>
                        <p>Monthly Saturdays, 3 - 4:30 PM</p>
                        <ul>
                            <li>October 3, 2015</li>
                            <li>November 7, 2015</li>
                            <li>December 5, 2015</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>What?</h4>
                        <p>Renewal through mindful movement and meditation in nature.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <img class="img-responsive img-thumbnail" src="~/images/yogathedral-fall-2015-xs.jpg" alt="An oil pastel image by Ingrid Hauss of mountains in a sunset on the water." />
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>How much?</h4>
                        <p>Preregistration: $25</p>
                        <p>Fee includes:</p>
                        <p>75 minutes of yoga, breathing awareness and renewal techniques + guided movement meditation in nature, our shuttle service, if required from and to Yogathedral's<sup>&trade;</sup> walk on the island and a delicious vegetarian soup at the end.</p>
                        <p>Foot passenger ferry fee or swimming across tolls (:-) from Horseshoe Bay to Snug Cove of $11.95 (return inclusive!) not included.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <h4>How?</h4>
                        <p>Preregistration required by cheque or cash in person or by postal mail made out to Ingrid Hauss.</p>
                        <p>Payment is non-refundable, except in case of event's cancelation due to wet weather.</p>
                        <p>Upon registration: You will receive a letter with a waiver and details regarding travel.</p>
                    </div>
                    <div class="col-md-6">
                        <h4>Mail to</h4>
                        <address>
                            Ingrid Hauss, B.A. RYT,<br />
                            Dipl. VST Spiritual Facilitation and  Coaching.<br />
                            Studio for Art & Renewal<br /><br />
                            Dr. Darryl Grigg<br />
                            Psychological and Consulting Services<br /><br />
                            #3 - 2025 West 16th Ave<br />
                            Vancouver, B.C.<br />
                            V6J 2M6<br />
                        </address>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Why?</h4>
                        <p>
                            Come... as you are and be yourself even more after this powerful renewal experience.
                        </p>
                        <p>
                            Soak and integrate...your soul in green space while consciously immersing in the healing and cleansing qualities of 'wood air bathing' amidst beauty of nature.
                        </p>
                        <p>
                            Steep...in the sounds of waterfalls, streams and breezes while gazing upon wide and spacious vistas of the variable landscapes we are guided through on this renewal experience.
                        </p>
                        <p>
                            Restore...through Yogathedral's<sup>&trade;</sup> unique invitation to renew and recharge in your body and mind.
                        </p>
                        <p>
                            Sharing and Reflection...over soup delight served by Darryl Grigg at the final end of Yogathedral's<sup>&trade;</sup> active component at a special natural site.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>Why not?</h4>
                        <p>
                            live fully<br />
                            into the why not<br />
                            by letting this<br />
                            invitation<br />
                            be one to you<br />
                            soul starved or not<br />
                            to gaze and<br />
                            take a long loving look<br />
                            at the real<br />
                            inside<br />
                            & out.<br />
                        </p>
                        <p>
                            Ingrid Hauss, August 2015
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            Yogathedral<sup>&trade;</sup> Dates for Winter &amp; Summer 2015
        </div>
        <div class="panel-body">
            <ul>
                <li>Departure and return to described location, rain or shine!</li>
                <li>Saturdays, 3 - 4:15 PM</li>
                <li>$25 Drop-In</li>
                <li>$75 for Five Sessions</li>
                <li>Preregister with Ingrid at ingridhauss@yahoo.com or call 604-720-1460</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="text-center">
                <p>
                    <img src="/images/yogathedral-vista.jpg"
                         class="img-responsive img-rounded img-thumbnail"
                         alt="A silhouette of a person doing the warrior yoga pose in front of an ocean vista.">
                </p>
                <p>
                    <img src="/images/yogathedral-warrior.jpg"
                         class="img-responsive img-rounded img-thumbnail"
                         alt="A group of four people doing the warrior yoga pose in the woods on a sunny day.">
                </p>
                <p>photo credits: Sharron Christi</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Additional Yogathedral<sup>&trade;</sup> Walks in 2015
                </div>
                <ul class="list-group">
                    <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                        <h4>Saturday February 7, 2015</h4>
                        <ul>
                            <li>
                                Bowen Island Ferry Terminal, Village at Snug Cove
                            </li>
                            <li>Clear AIr Meadows and Meditative Falls</li>
                        </ul>
                    </li>
                    <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                        <h4>Saturday March 7, 2015</h4>
                        <ul>
                            <li>
                                Bowen Island Ferry Terminal
                            </li>
                            <li>
                                Village at Snug Cove for Yoga
                            </li>
                            <li>
                                Shuttle to destination
                            </li>
                            <li>
                                Lake and Roots - Revitalize and Renew!
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                        <h4>Saturday April 4, 2015</h4>
                        <ul>
                            <li>
                                UBC Endowments Lands
                            </li>
                            <li>
                                Meet at University Village (at CIBC, Blenz Coffee, MacDonald)
                            </li>
                            <li>
                                Wood Air Bathing on UBC Wooden Trail for Deep Contemplation and Renewal.
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                        <h4>Saturday May 2, 2015</h4>
                        <ul>
                            <li>Bowen Island Ferry Terminal</li>
                            <li>Village at Snug Cove for Yoga</li>
                            <li>Shuttle to destination</li>
                            <li>Woods, greens, and waterfalls - Woodair bathe and renew in body and mind</li>
                        </ul>
                    </li>
                    <li class="list-group-item" itemscope itemtype="http://schema.org/Event">
                        <h4>Saturday June 06, 2015</h4>
                        <ul>
                            <li>Salmon Stream at Spanish Banks</li>
                            <li>Spanish Banks - A Shoreline Cleanse</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
