<section>
    <div class="col-md-6">
        <img alt="A zen style drawing of a thin curve with a tiny red ball that appears to be rolling just up one side." class="img-responsive img-rounded img-thumbnail" src="images/meditation-xs.jpg" />
    </div>
</section>
