<section>
    <div class="page-header">
        <h1 id="bookings">Bookings</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Art &amp; Renewal Private Retreats and Group Sessions</h4>
            <p>Adaptable for all ages and levels of physical ability</p>
            <p>Contact @Model.FirstName at @Model.Phone</p>
            <p>Rate</p>
            <ul>
                <li>$350 for 2hr session for 1-5 people.</li>
                <li>Individual sessions and programme-series are available. Inquire directly for fees and more information.</li>
            </ul>
            </ul>
            <p>Sessions in Art &amp; Renewal offer an embodied arts-based experience for individuals and groups. The program is 
                intended to foster physical and creative renewal through conscious kinaesthetic alignment, stretching, liberating 
                movement and relaxation. A safe and inclusive environment is provided by the instructor based on her academic 
                engagement with graduate studies in art education and twenty years of experience in teaching movement and creativity 
                as life-force for renewal, well-being and increased productivity.</p>
            <p>Individual private sessions for Art &amp; Renewal wellness retreats and International Tours bring important milestones
                to life with vitalizing creativity, while nurturing mind and body at a richly poetic and deeply soulful level.</p>
            <p>Each session or retreat culminates in shared reflection over culinary delights and communal feasting.</p>
        </div>
    </div>
</section>