<section>
    <h1>News for 2020</h1>
    <p>
        <a class="btn btn-info" href="https://events.uvic.ca/view/event/date/20200707/event_id/49308" target="_blank">
            Installation at University of Victoria
        </a>
    </p>
    <p>
        <a class="btn btn-info" href="https://missa.ca/workshops/" target="_blank">
            Course at Metchosin International Summer School of Art (MISSA 2020) July 4/5. 2020
        </a>
    </p>

    <h2>Links</h2>
    <p>
        <a class="btn btn-success" href="//www.youtube.com/watch?v=Y-aDP6Ybj-I">
            View Ingrid's Artist of the Month video on YouTube.
        </a>
    </p>
    <p>
        <a class="btn btn-warning" href="//www.artrenewal.ca">
            Visit Ingrid's blog to see my course-updates and recent art!
        </a>
    </p>
    <p>
        <a class="btn btn-primary" href="//www.catchingstarsgallery.com">
            Select pieces of Ingrid's artworks are now represented and available at Catching Stars Gallery on Bowen Island, B.C. Canada.
        </a>
    </p>
</section>
