<section>
    <p>
        <a class="btn btn-info" href="https://www.artiazza.com">
            View the Ingrid Hauss web gallery at Artiazza.
        </a>
    </p>
    <p>
        <a class="btn btn-success" href="~/documents/art-and-whispers.pdf">
            View Ingrids work at "Echoes" on Bowen Island, April 2017.
        </a>
    </p>
</section>
