<section>
    <h2 id="yoga-tales">
        Yoga Tales<sup>&trade;</sup>
    </h2>
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <a href="~/documents/yoga-tales.pdf">
                <img alt="A collection of toy animals on the cut stump of a tree." class="img-responsive img-rounded img-thumbnail" src="~/images/yoga-tales-xs.jpg" />
            </a>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Yoga for ages 7 - 11
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Tuesdays 3:30 - 4:30 PM, 2015</p>
                        <ul>
                            <li>February 17</li>
                            <li>March 17</li>
                            <li>April 21</li>
                            <li>May 19</li>
                            <li>June 03</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <p>Rates and Registration</p>
                        <ul>
                            <li>$25 Drop In Fee</li>
                            <li>$75 For Five Classes</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul>
                            <li>At Ganges Yoga Studio with Ingrid Hauss</li>
                            <li>
                                Preregistration with payment at Ganges Yoga Studio 250-537-4658
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <p>
                We have stories to tell of how to...
                <ul class="list-inline list-yoga-tales">
                    <li class="label label-primary">concentrate</li>
                    <li class="label label-info">crawl</li>
                    <li class="label label-warning">breathe slower</li>
                    <li class="label label-info">rise after falling</li>
                    <li class="label label-success">be courageous</li>
                    <li class="label label-warning">face challenges</li>
                    <li class="label label-success">be tall like mountains</li>
                    <li class="label label-danger">and free as an eagle</li>
                </ul>
        </div>
    </div>
</section>