<section>
    <div class="page-header">
        <h1 id="bookings">Bookings</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Art &amp; Renewal Private Retreats and Group Sessions</h4>
            <p>Pilates, Yoga, and Restorative</p>
            <p>Contact @Model.FirstName at @Model.Phone</p>
            <p>Rate</p>
            <ul>
                <li>$350 for 2hr session for 1-5 people.</li>
                <li>Individual sessions and programme-series are available. Inquire directly for fees and more information.</li>
            </ul>
            </ul>
            <p>Indoor and outdoor relaxation, yoga, restorative and active movement for physical wellness, for pain reduction
                and emotional stress-release. Each movement meditation is followed by guided creative facilitation.</p>
            <p>Individual private sessions for Art &amp; Renewal wellness retreats and International Tours bring important milestones
                to life with vitalizing creativity, while nurturing mind and body at a richly poetic and deeply soulful level.</p>
            <p>Each session or retreat culminates in shared reflection over culinary delights and communal feasting.</p>
        </div>
        <div class="col-sm-6">
            <img alt="Four women practicing yoga outside on the grass. There is a blue sky, green trees, and a beautiful fence around the practice area."
                class="img-responsive img-rounded img-thumbnail" src="images/urban-yoga-xs.jpg" />
        </div>
    </div>
</section>