<section>
    <a class="btn btn-info" href="https://www.direct2artist.com/artists/ingrid-hauss">
        View additional art in Ingrid's web-gallery under Ingrid Hauss at Direct2Artist.
    </a>
</section>