<section>
    <p>
        <a class="btn btn-info" href="//www.artiazza.com/artist/ingrid_hauss_1">
            View the Ingrid Hauss web gallery at Artiazza.
        </a>
    </p>
    <p>
        <a class="btn btn-success" href="//www.youtube.com/watch?v=Y-aDP6Ybj-I">
            View Ingrid's Artist of the Month video on YouTube.
        </a>
    </p>
</section>
