<p class="visible-sm visible-xs">
    <a href="tel:@Model.Phone">@Model.Phone</a> | <a href="mailto:@Model.Email">@Model.Email</a>
</p>
<div id="site-nav">
    <ul class="nav nav-pills nav-stacked" role="tablist" data-offset-top="250" data-spy="affix">
        <li class="contact"><a href="tel:@Model.Phone">@Model.Phone</a></li>
        <li class="contact"><a href="mailto:@Model.Email">@Model.Email</a></li>
        <li><a href="#bookings">Bookings</a></li>
        <li><a href="#retreats">Retreats</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#art">Art</a></li>
        <li><a href="#top">Return to Top</a></li>
    </ul>
</div>
